<!DOCTYPE html>
<html>
    <head>
        <title>Alex Diaz's website</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div class="homepage">
            <h1>Home</h1>

            <!-- Navigation bar -->
            <div class="list">
                <p><a href="{{ url_for('about') }}">About me</a></p>
                <a href="https://github.com/imloadinqqq"><img src="{{ url_for('static', filename='/logo/github-mark.png') }}" alt="GitHub logo" width="50" height="50"></a>
                <a href="https://www.linkedin.com/in/alex-diaz-1560a928a/"><img src="{{ url_for('static', filename='/logo/in-blue.png') }}" alt="LinkedIn logo" width="55" height="50"></a>
                <a href="https://discord.com/users/308089208634081280"><img src="{{ url_for('static', filename='/logo/discord-mark-black.png') }}" alt="Discord logo" width="60" height="50"></a>
                <a href="https://steamcommunity.com/id/minecraftman0513/"><img src="{{ url_for('static', filename='/logo/steam.png') }}" alt="Steam logo" width="60" height="50"></a>
            </div>
        </div>
    </body>
</html>