<!DOCTYPE html>
<html>
    <head>
        <title>Alex Diaz's website</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
    <body>
        <div class="homepage">
            <h1>Home</h1>

            <div class="list">
                <a href="about"><p>About me</p></a>                
                <a href="https://github.com/imloadinqqq"><p>GitHub</p></a>
                <a href="https://www.linkedin.com/in/alex-diaz-1560a928a/"><p>LinkedIn</p></a>
                <p>Discord: loading7300</p>
                <p>Steam: Loading</p>
            </div>
        </div>
    </body>
</html>